DB_HOST=localhost
DB_PORT=5433
DB_NAME=ecommerce_dw
DB_USER=postgres
DB_PASSWORD=change_me

BASE_FOLDER=your_download_folder

LOG_LEVEL=INFO

APP_URL=http://localhost:3000/auth/sign-in

LOGIN_EMAIL=your_email
LOGIN_PASSWORD=your_password

FRONTEND_PATH=your_frontend_path
BACKEND_PATH=your_backend_path

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce_dw

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me

AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=change_me
AIRFLOW_SECRET_KEY=replace_with_a_long_random_value
